body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#progress-icon-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardDescription {
  text-align: left;
  text-transform: uppercase;
  padding: 5px;
  color: white;
  font-weight: 400;
}

.progressBar {
  border-radius: 25px;
  margin-top: 5px;
  margin-left: 10px;
  height: 10px;
  position: absolute;
}

.progressBarFront {
  background-color:#383c42;
}

.progressBarBack {
  background-color: white;
  width: 180px;
}

.card {
  border-radius: 15px;
  padding: 4px;
  margin: 2px;
  width: 200px;
  height: 50px;
}
